/** MONTSERRAT ALTERNATES **/

/** Font weight **/
/**	
	100 - Thin
	200 - ExtraLight
	300 - Light
	400 - Regular
	500 - Medium
	600 - SemiBold
	700 - Bold
	800 - ExtraBoldItalic
	900 - Black 
**/


/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
		src: url("MontserratAlternatesThin.otf") format('opentype');
		src: url("MontserratAlternatesThin.ttf") format('truetype');
		src: url("MontserratAlternatesThin.eot");
    src: url("MontserratAlternatesThin.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesThin.woff2") format("woff2"),
         url("MontserratAlternatesThin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
		src: url("MontserratAlternatesThinItalic.otf") format('opentype');
		src: url("MontserratAlternatesThinItalic.ttf") format('truetype');
		src: url("MontserratAlternatesThinItalic.eot");
    src: url("MontserratAlternatesThinItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesThinItalic.woff2") format("woff2"),
         url("MontserratAlternatesThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
		src: url("MontserratAlternatesExtraLight.otf") format('opentype');
		src: url("MontserratAlternatesExtraLight.ttf") format('truetype');
		src: url("MontserratAlternatesExtraLight.eot");
    src: url("MontserratAlternatesExtraLight.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesExtraLight.woff2") format("woff2"),
         url("MontserratAlternatesExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
		src: url("MontserratAlternatesExtraLightItalic.otf") format('opentype');
		src: url("MontserratAlternatesExtraLightItalic.ttf") format('truetype');
		src: url("MontserratAlternatesExtraLightItalic.eot");
    src: url("MontserratAlternatesExtraLightItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesExtraLightItalic.woff2") format("woff2"),
         url("MontserratAlternatesExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
		src: url("MontserratAlternatesLight.otf") format('opentype');
		src: url("MontserratAlternatesLight.ttf") format('truetype');
		src: url("MontserratAlternatesLight.eot");
    src: url("MontserratAlternatesLight.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesLight.woff2") format("woff2"),
         url("MontserratAlternatesLight.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
		src: url("MontserratAlternatesLightItalic.otf") format('opentype');
		src: url("MontserratAlternatesLightItalic.ttf") format('truetype');
		src: url("MontserratAlternatesLightItalic.eot");
    src: url("MontserratAlternatesLightItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesLightItalic.woff2") format("woff2"),
         url("MontserratAlternatesLightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
		src: url("MontserratAlternatesRegular.otf") format('opentype');
		src: url("MontserratAlternatesRegular.ttf") format('truetype');
		src: url("MontserratAlternatesRegular.eot");
    src: url("MontserratAlternatesRegular.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesRegular.woff2") format("woff2"),
         url("MontserratAlternatesRegular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
		src: url("MontserratAlternatesItalic.otf") format('opentype');
		src: url("MontserratAlternatesItalic.ttf") format('truetype');
		src: url("MontserratAlternatesItalic.eot");
    src: url("MontserratAlternatesItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesItalic.woff2") format("woff2"),
         url("MontserratAlternatesItalic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
		src: url("MontserratAlternatesMedium.otf") format('opentype');
		src: url("MontserratAlternatesMedium.ttf") format('truetype');
		src: url("MontserratAlternatesMedium.eot");
    src: url("MontserratAlternatesMedium.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesMedium.woff2") format("woff2"),
         url("MontserratAlternatesMedium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
		src: url("MontserratAlternatesMediumItalic.otf") format('opentype');
		src: url("MontserratAlternatesMediumItalic.ttf") format('truetype');
		src: url("MontserratAlternatesMediumItalic.eot");
    src: url("MontserratAlternatesMediumItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesMediumItalic.woff2") format("woff2"),
         url("MontserratAlternatesMediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
		src: url("MontserratAlternatesSemiBold.otf") format('opentype');
		src: url("MontserratAlternatesSemiBold.ttf") format('truetype');
		src: url("MontserratAlternatesSemiBold.eot");
    src: url("MontserratAlternatesSemiBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesSemiBold.woff2") format("woff2"),
         url("MontserratAlternatesSemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
		src: url("MontserratAlternatesSemiBoldItalic.otf") format('opentype');
		src: url("MontserratAlternatesSemiBoldItalic.ttf") format('truetype');
		src: url("MontserratAlternatesSemiBoldItalic.eot");
    src: url("MontserratAlternatesSemiBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesSemiBoldItalic.woff2") format("woff2"),
         url("MontserratAlternatesSemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
		src: url("MontserratAlternatesBold.otf") format('opentype');
		src: url("MontserratAlternatesBold.ttf") format('truetype');
		src: url("MontserratAlternatesBold.eot");
    src: url("MontserratAlternatesBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesBold.woff2") format("woff2"),
         url("MontserratAlternatesBold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
		src: url("MontserratAlternatesBoldItalic.otf") format('opentype');
		src: url("MontserratAlternatesBoldItalic.ttf") format('truetype');
		src: url("MontserratAlternatesBoldItalic.eot");
    src: url("MontserratAlternatesBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesBoldItalic.woff2") format("woff2"),
         url("MontserratAlternatesBoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
		src: url("MontserratAlternatesExtraBold.otf") format('opentype');
		src: url("MontserratAlternatesExtraBold.ttf") format('truetype');
		src: url("MontserratAlternatesExtraBold.eot");
    src: url("MontserratAlternatesExtraBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesExtraBold.woff2") format("woff2"),
         url("MontserratAlternatesExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
		src: url("MontserratAlternatesExtraBoldItalic.otf") format('opentype');
		src: url("MontserratAlternatesExtraBoldItalic.ttf") format('truetype');
		src: url("MontserratAlternatesExtraBoldItalic.eot");
    src: url("MontserratAlternatesExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesExtraBoldItalic.woff2") format("woff2"),
         url("MontserratAlternatesExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
		src: url("MontserratAlternatesBlack.otf") format('opentype');
		src: url("MontserratAlternatesBlack.ttf") format('truetype');
		src: url("MontserratAlternatesBlack.eot");
    src: url("MontserratAlternatesBlack.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesBlack.woff2") format("woff2"),
         url("MontserratAlternatesBlack.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: italic;
		src: url("MontserratAlternatesBlackItalic.otf") format('opentype');
		src: url("MontserratAlternatesBlackItalic.ttf") format('truetype');
		src: url("MontserratAlternatesBlackItalic.eot");
    src: url("MontserratAlternatesBlackItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternatesBlackItalic.woff2") format("woff2"),
         url("MontserratAlternatesBlackItalic.woff") format("woff");
}