/** MONTSERRAT **/

/** Font weight **/
/**	
	100 - Thin
	200 - ExtraLight
	300 - Light
	400 - Regular
	500 - Medium
	600 - SemiBold
	700 - Bold
	800 - ExtraBoldItalic
	900 - Black 
**/


/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
		src: url("MontserratThin.otf") format('opentype');
		src: url("MontserratThin.ttf") format('truetype');
		src: url("MontserratThin.eot");
    src: url("MontserratThin.eot?#iefix") format('embedded-opentype'),
         url("MontserratThin.woff2") format("woff2"),
         url("MontserratThin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
		src: url("MontserratThinItalic.otf") format('opentype');
		src: url("MontserratThinItalic.ttf") format('truetype');
		src: url("MontserratThinItalic.eot");
    src: url("MontserratThinItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratThinItalic.woff2") format("woff2"),
         url("MontserratThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
		src: url("MontserratExtraLight.otf") format('opentype');
		src: url("MontserratExtraLight.ttf") format('truetype');
		src: url("MontserratExtraLight.eot");
    src: url("MontserratExtraLight.eot?#iefix") format('embedded-opentype'),
         url("MontserratExtraLight.woff2") format("woff2"),
         url("MontserratExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
		src: url("MontserratExtraLightItalic.otf") format('opentype');
		src: url("MontserratExtraLightItalic.ttf") format('truetype');
		src: url("MontserratExtraLightItalic.eot");
    src: url("MontserratExtraLightItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratExtraLightItalic.woff2") format("woff2"),
         url("MontserratExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
		src: url("MontserratLight.otf") format('opentype');
		src: url("MontserratLight.ttf") format('truetype');
		src: url("MontserratLight.eot");
    src: url("MontserratLight.eot?#iefix") format('embedded-opentype'),
         url("MontserratLight.woff2") format("woff2"),
         url("MontserratLight.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
		src: url("MontserratLightItalic.otf") format('opentype');
		src: url("MontserratLightItalic.ttf") format('truetype');
		src: url("MontserratLightItalic.eot");
    src: url("MontserratLightItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratLightItalic.woff2") format("woff2"),
         url("MontserratLightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
		src: url("MontserratRegular.otf") format('opentype');
		src: url("MontserratRegular.ttf") format('truetype');
		src: url("MontserratRegular.eot");
    src: url("MontserratRegular.eot?#iefix") format('embedded-opentype'),
         url("MontserratRegular.woff2") format("woff2"),
         url("MontserratRegular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
		src: url("MontserratItalic.otf") format('opentype');
		src: url("MontserratItalic.ttf") format('truetype');
		src: url("MontserratItalic.eot");
    src: url("MontserratItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratItalic.woff2") format("woff2"),
         url("MontserratItalic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
		src: url("MontserratMedium.otf") format('opentype');
		src: url("MontserratMedium.ttf") format('truetype');
		src: url("MontserratMedium.eot");
    src: url("MontserratMedium.eot?#iefix") format('embedded-opentype'),
         url("MontserratMedium.woff2") format("woff2"),
         url("MontserratMedium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
		src: url("MontserratMediumItalic.otf") format('opentype');
		src: url("MontserratMediumItalic.ttf") format('truetype');
		src: url("MontserratMediumItalic.eot");
    src: url("MontserratMediumItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratMediumItalic.woff2") format("woff2"),
         url("MontserratMediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
		src: url("MontserratSemiBold.otf") format('opentype');
		src: url("MontserratSemiBold.ttf") format('truetype');
		src: url("MontserratSemiBold.eot");
    src: url("MontserratSemiBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratSemiBold.woff2") format("woff2"),
         url("MontserratSemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
		src: url("MontserratSemiBoldItalic.otf") format('opentype');
		src: url("MontserratSemiBoldItalic.ttf") format('truetype');
		src: url("MontserratSemiBoldItalic.eot");
    src: url("MontserratSemiBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratSemiBoldItalic.woff2") format("woff2"),
         url("MontserratSemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
		src: url("MontserratBold.otf") format('opentype');
		src: url("MontserratBold.ttf") format('truetype');
		src: url("MontserratBold.eot");
    src: url("MontserratBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratBold.woff2") format("woff2"),
         url("MontserratBold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
		src: url("MontserratBoldItalic.otf") format('opentype');
		src: url("MontserratBoldItalic.ttf") format('truetype');
		src: url("MontserratBoldItalic.eot");
    src: url("MontserratBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratBoldItalic.woff2") format("woff2"),
         url("MontserratBoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
		src: url("MontserratExtraBold.otf") format('opentype');
		src: url("MontserratExtraBold.ttf") format('truetype');
		src: url("MontserratExtraBold.eot");
    src: url("MontserratExtraBold.eot?#iefix") format('embedded-opentype'),
         url("MontserratExtraBold.woff2") format("woff2"),
         url("MontserratExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
		src: url("MontserratExtraBoldItalic.otf") format('opentype');
		src: url("MontserratExtraBoldItalic.ttf") format('truetype');
		src: url("MontserratExtraBoldItalic.eot");
    src: url("MontserratExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratExtraBoldItalic.woff2") format("woff2"),
         url("MontserratExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
		src: url("MontserratBlack.otf") format('opentype');
		src: url("MontserratBlack.ttf") format('truetype');
		src: url("MontserratBlack.eot");
    src: url("MontserratBlack.eot?#iefix") format('embedded-opentype'),
         url("MontserratBlack.woff2") format("woff2"),
         url("MontserratBlack.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
		src: url("MontserratBlackItalic.otf") format('opentype');
		src: url("MontserratBlackItalic.ttf") format('truetype');
		src: url("MontserratBlackItalic.eot");
    src: url("MontserratBlackItalic.eot?#iefix") format('embedded-opentype'),
         url("MontserratBlackItalic.woff2") format("woff2"),
         url("MontserratBlackItalic.woff") format("woff");
}